<h5> ブログ記事一覧 </h5>
<% @blogs.each do |blog| %>
<P>----------------------------------------<p>
<P><%= blog.title %></P>
<p><%= blog.text %></p>
<p>----------------------------------------<p>
<% end %>
