<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- Materialize -->
  <style type="text/css" href="./style.css"></style>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

</head>
<body>
  <header>
    <nav class="deep-purple darken-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">BLOG</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/blogs">マイページ</a></li>
          <li><a href="/blogs">新規登録</a></li>
          <li><a href="/blogs">投稿</a></li>
        </ul>
      </div>
   </nav>
  </header>

<%= yield %>

</body>
</html>
